Exames_WebService/WebContent/wsdl/ExameServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:tns1="http://bean" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean"/>
   <element name="getExame">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getExameResponse">
    <complexType>
     <sequence>
      <element name="getExameReturn" type="tns1:Exame"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Exame">
    <sequence>
     <element name="cpf" nillable="true" type="xsd:string"/>
     <element name="data" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="endereco" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:long"/>
     <element name="nome" nillable="true" type="xsd:string"/>
     <element name="retorno" nillable="true" type="xsd:string"/>
     <element name="situacao" nillable="true" type="xsd:string"/>
     <element name="telefone" nillable="true" type="xsd:string"/>
     <element name="tpExame" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getExameResponse">

      <wsdl:part element="impl:getExameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getExameRequest">

      <wsdl:part element="impl:getExame" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ExameServiceImpl">

      <wsdl:operation name="getExame">

         <wsdl:input message="impl:getExameRequest" name="getExameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getExameResponse" name="getExameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ExameServiceImplSoapBinding" type="impl:ExameServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getExame">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getExameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ExameServiceImplService">

      <wsdl:port binding="impl:ExameServiceImplSoapBinding" name="ExameServiceImpl">

         <wsdlsoap:address location="http://localhost:8090/Exames_WebService/services/ExameServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
